<ul class="nav background-fff" ui-nav >
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="bv-left-menu">
            <i class="icon-dashboard"></i>
            <span class="nav-text">Trang chủ</span>
        </a>
    </li>

	<!-- Giỏ hàng -->
    <li ui-sref-active="active">
        <a ui-sref="app.cart"  class="bv-left-menu">
            <i class=icon-cart><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countCart}}</span></i>
            <span class="nav-text">Giỏ hàng</span>
        </a>
    </li>
    
    <!-- Vận đơn -->
    <li ui-sref-active="active">
        <a ui-sref="app.trans" class="bv-left-menu">
            <i class="icon-paper"><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countOrderDebit}}</span></i>
            <span class="nav-text">Vận đơn</span>
        </a>
    </li>
    
	<!-- Đơn hàng -->
	<!-- <li ng-class="{active:$state.includes('order')}" has-authority="PERM_AGREEMENT_VIEW"> -->
	<li ng-class="{active:$state.includes('order')}">
        <a class="bv-left-menu">
            <span class="nav-caret">
	          <i class="fa fa-caret-down"></i>
	        </span>
            <i class="icon-stamp"></i>
            <span class="nav-text">Đơn hàng</span>
        </a>
        <ul class="nav-sub">
            <!-- <li ui-sref-active="active">
                <a ui-sref="order.me">
                    <span class="nav-text">Danh sách đơn hàng</span>
                </a>
            </li> -->
            <li ui-sref-active="active">
            	<a class="bv-left-menu-sp icon-order" ui-sref="order.baoviet">
                    <i class="icon-paper "><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countBvWaiting}}</span></i>
                    <span class="nav-text">Chờ giải quyết</span>
                </a>
            </li>
        </ul>
    </li>
    
    <!-- Báo cáo -->
    <!-- <li ng-class="{active:$state.includes('report')}" has-any-authority="PERM_REPORT_INCOME_VIEW, PERM_REPORT_COMMISSION_VIEW, PERM_REPORT_TRANSFER_VIEW"> -->
    <li ng-class="{active:$state.includes('report')}">
        <a class="bv-left-menu">
            <span class="nav-caret">
	          <i class="fa fa-caret-down"></i>
	        </span>
            <i class="icon-line-graph"></i>
            <span class="nav-text">Báo cáo</span>
        </a>
        <ul class="nav-sub">
            <!-- <li ui-sref-active="active">
                <a ui-sref="report.income">
                    <span class="nav-text">Báo cáo doanh thu</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="report.commission">
                    <span class="nav-text">Báo cáo hoa hồng</span>
                </a>
            </li> -->
            <li ui-sref-active="active">
                <a ui-sref="report.transfer">
                    <span class="nav-text">Giao dịch thanh toán</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
